<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8">
    <title>Application Down</title>
  </head>
  <body background href ="D:\Udemy node projects\node-web-server\resources\images\maintenance-2422169_1920.jpg">
    <h1> We will be right back </h1>
    <p>We are currently updating the site , we will be back soon</p>
    {{> footer}}
  </body>
</html>
